<a href="https://colab.research.google.com/github/roselinedilani/Simpli-learn-pandas-01/blob/main/pandas02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df_FDNY = pd.read_csv("/content/FDNY.csv")
df_FDNY.head()

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan

In [2]:
Data_frame_analyze = pd.DataFrame(df_FDNY)
Data_frame_analyze

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
...,...,...,...
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

In [4]:
Data_frame_analyze.shape

(219, 3)

In [5]:
Data_frame_analyze.describe

<bound method NDFrame.describe of                                           FacilityName  \
0                                         FacilityName
1                                   Engine 4/Ladder 15
2                                  Engine 10/Ladder 10
3                                             Engine 6
4    Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
..                                                 ...
214                  Engine 162/Ladder 82/Battalion 23
215                               Engine 167/Ladder 87
216                               Engine 164/Ladder 84
217                          Engine 168/EMS Station 23
218                               Engine 151/Ladder 76

              FacilityAddress        Borough
0             FacilityAddress        Borough
1             42 South Street      Manhattan
2          124 Liberty Street      Manhattan
3           49 Beekman Street      Manhattan
4        100-104 Duane Street      Manhattan
..                        ...            ...
214         256 Nelson Avenue  Staten Island
215         345 Annadale Road  Staten Island
216  1560 Drumgoole Road West  Staten Island
217     1100 Rossville Avenue  Staten Island
218           7219 Amboy Road  Staten Island

[219 rows x 3 columns]>

In [6]:
Data_frame_analyze_final = pd.read_csv("/content/FDNY.csv",skiprows = 1)
Data_frame_analyze_final.head()

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan
2,Engine 6,49 Beekman Street,Manhattan
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
4,Ladder 8,14 North Moore Street,Manhattan

In [7]:
Data_frame_analyze_final.describe

<bound method NDFrame.describe of                                           FacilityName  \
0                                   Engine 4/Ladder 15
1                                  Engine 10/Ladder 10
2                                             Engine 6
3    Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
4                                             Ladder 8
..                                                 ...
213                  Engine 162/Ladder 82/Battalion 23
214                               Engine 167/Ladder 87
215                               Engine 164/Ladder 84
216                          Engine 168/EMS Station 23
217                               Engine 151/Ladder 76

              FacilityAddress        Borough
0             42 South Street      Manhattan
1          124 Liberty Street      Manhattan
2           49 Beekman Street      Manhattan
3        100-104 Duane Street      Manhattan
4       14 North Moore Street      Manhattan
..                        ...            ...
213         256 Nelson Avenue  Staten Island
214         345 Annadale Road  Staten Island
215  1560 Drumgoole Road West  Staten Island
216     1100 Rossville Avenue  Staten Island
217           7219 Amboy Road  Staten Island

[218 rows x 3 columns]>

In [8]:
Data_frame_analyze_final.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [9]:
Data_frame_analyze_final.count()

FacilityName       218
FacilityAddress    218
Borough            218
dtype: int64

In [11]:
Data_frame_analyze_final.dtypes

FacilityName       object
FacilityAddress    object
Borough            object
dtype: object

In [12]:
borough_info = Data_frame_analyze_final.groupby('Borough')
borough_info.head()

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan
2,Engine 6,49 Beekman Street,Manhattan
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
4,Ladder 8,14 North Moore Street,Manhattan
48,Engine 60/Ladder 17/Battalion 14,341 East 143rd Street,Bronx
49,Squad 41,330 East 150th Street,Bronx
50,Engine 71/Ladder 55/Division 6,720 Melrose Avenue,Bronx
51,Engine 50/Ladder 19,1155 Washington Avenue,Bronx
52,Engine 92/Ladder 44/Battalion 17,1259 Morris Avenue,Bronx
82,Engine 207/Ladder 110/Battalion 31/Division 11...,172 Tillary Street,Brooklyn
83,Engine 226,409 State Street,Brooklyn
84,Engine 205/Ladder 118,74 Middagh Street,Brooklyn
85,Engine 224,274 Hicks Street,Brooklyn
86,Engine 279/Ladder 131,252 Lorraine Street,Brooklyn
148,Engine 258/Ladder 115,10-40 47th Avenue,Queens
149,Engine 325/Ladder 163,41-24 51st Street,Queens
150,Engine 259/Ladder 128/Battalion 45,33-51 Greenpoint Avenue,Queens
151,Engine 260,11-15 37th Avenue,Queens
152,Engine 261/Ladder 116,3720-22 29th Street,Queens
198,Marine 9,Saint George Ferry Terminal,Staten Island
199,Engine 155/Ladder 78,14 Brighton Avenue,Staten Island
200,Ladder 79/Battalion 22,1189 Castleton Avenue,Staten Island
201,Engine 156,412 Broadway,Staten Island
202,Engine 163/Ladder 83,875 Jewett Avenue,Staten Island

In [13]:
borough_info.size()

Borough
Bronx            34
Brooklyn         66
Manhattan        48
Queens           50
Staten Island    20
dtype: int64

In [14]:
borough_info_mahattan = borough_info.get_group('Manhattan')
borough_info_mahattan

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan
2,Engine 6,49 Beekman Street,Manhattan
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
4,Ladder 8,14 North Moore Street,Manhattan
5,Engine 9/Ladder 6,75 Canal Street,Manhattan
6,Engine 15/Ladder 18/Battalion 4,25 Pitt Street,Manhattan
7,Engine 28/Ladder 11,222 East 2nd Street,Manhattan
8,Engine 5,340 East 14th Street,Manhattan
9,Engine 55,363 Broome Street,Manhattan
10,Ladder 20/Division 1,253 Lafayette Street,Manhattan
11,Engine 24/Ladder 5/Battalion 2,227-29 6th Avenue,Manhattan
12,Engine 33/Ladder 9,42 Great Jones Street,Manhattan
13,Ladder 3/Battalion 6,108 East 13th Street,Manhattan
14,Squad 18,132 West 10th Street,Manhattan
15,Engine 34/Ladder 21,440 West 38th Street,Manhattan
16,Engine 26,220 West 37th Street,Manhattan
17,Engine 3/Ladder 12/Battalion 7,150 West 19th Street,Manhattan
18,Engine 1/Ladder 24,142-46 West 31st Street,Manhattan
19,Engine 14,14 East 18th Street,Manhattan
20,Engine 16 / Ladder 7,234 East 29th Street,Manhattan
21,Engine 21,238 East 40th Street,Manhattan
22,Engine 54/Ladder 4/Battalion 9,782 8th Avenue,Manhattan
23,Engine 23,215 West 58th Street,Manhattan
24,Rescue 1,530 West 43rd Street,Manhattan
25,Engine 40/Ladder 35,131 Amsterdam Avenue,Manhattan
26,Ladder 25/District Office 4/Division 3,205-207 West 77th Street,Manhattan
27,Engine 74,120 West 83rd Street,Manhattan
28,Engine 65,33 West 43rd Street,Manhattan
29,Engine 8 / Ladder 2 / Battalion 8,167 East 51st Street,Manhattan
30,Engine 39/Ladder 16,157-59 East 67th Street,Manhattan
31,Engine 44,221 East 75th Street,Manhattan
32,Engine 22/Ladder 13/Battalion 10,159 East 85th Street,Manhattan
33,Engine 58/Ladder 26,1367 5th Avenue,Manhattan
34,Engine 53/Ladder 43,1836-46 3rd Avenue,Manhattan
35,Engine 91,242 East 111th Street,Manhattan
36,Engine 35/Ladder 14,2282 3rd Avenue,Manhattan
37,Engine 76/Ladder 22/Battalion 11,145-51 West 100th Street,Manhattan
38,Engine 47,502 West 113th Street,Manhattan
39,Engine 59/Ladder 30,111 West 133rd Street,Manhattan
40,Engine 37/Ladder 40,415 West 125th Street,Manhattan
41,Engine 69/Ladder 28/Battalion 16,248 West 143rd Street,Manhattan
42,Engine 80/Ladder 23,503 West 139th Street,Manhattan
43,Engine 84/Ladder 34,513 West 161st Street,Manhattan
44,Engine 67,518 West 170th Street,Manhattan
45,Engine 93/Ladder 45/Battalion 13,515 West 181st Street,Manhattan
46,Engine 95/Ladder 36,29 Vermilyea Avenue,Manhattan
47,Marine 1,Little West 12th Street/Hudson River,Manhattan